@model MicroShopping.WebUI.Models.UserModel

@{
    ViewBag.Title = "Registrate! | MicroShopping";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "register-form" }))
{
    @Html.ValidationSummary();
                             
    <legend>Crea tu cuenta gratis y te regalamos 10 lances!</legend>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Email)
        <div class="controls">
            @Html.EditorFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Nickname)
        <div class="controls">
            @Html.EditorFor(m => m.Nickname)
            @Html.ValidationMessageFor(m => m.Nickname)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Password)
        <div class="controls">
            @Html.EditorFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        <div class="controls">
            @Html.EditorFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    
    <legend>Information Personal</legend>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Name)
        <div class="controls">
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Lastname)
        <div class="controls">
            @Html.EditorFor(m => m.Lastname)
            @Html.ValidationMessageFor(m => m.Lastname)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.DateOfBirth)
        <div class="controls">
            @Html.EditorFor(m => m.DateOfBirth)
            @Html.ValidationMessageFor(m => m.DateOfBirth)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(model => model.Genders)
        <div class="controls">
            @Html.DropDownListFor(model => model.GenderId, Model.Genders)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Carnet)
        <div class="controls">
            @Html.EditorFor(m => m.Carnet)
            @Html.ValidationMessageFor(m => m.Carnet)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Address)
        <div class="controls">
            @Html.EditorFor(m => m.Address)
            @Html.ValidationMessageFor(m => m.Address)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.Telephone)
        <div class="controls">
            @Html.EditorFor(m => m.Telephone)
            @Html.ValidationMessageFor(m => m.Telephone)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.MobilePhone)
        <div class="controls">
            @Html.EditorFor(m => m.MobilePhone)
            @Html.ValidationMessageFor(m => m.MobilePhone)
        </div>
    </div>
    
    <legend>Estas a punto de ganar grande!</legend>
    
    <input type="submit" class="btn btn-success" value="Crear Tu Cuenta" />
}