@model IEnumerable<MicroShopping.WebUI.Models.AuctionModel>

<div id="auctions">
    <h2>Remates Que Se Vienen!</h2>

    @foreach (var a in Model)
    {
        <div class="item">
            <h2><a href="@Url.Action("Details", "Auction", new { id = a.AuctionId })">@a.ProductName</a></h2>
            <a class="thumb" href="@Url.Action("Details", "Auction", new { id = a.AuctionId })"><img src="@a.Thumbnail" alt="@a.ProductName" /></a>
            <div class="timebanner">
                <p>
                @if (a.StartTime.Date == DateTime.Now.Date)
                {
                    <span class="opendate">Hoy</span>    
                }
                else
                {
                    <span class="opendate">@a.StartTime.ToShortDateString()</span>    
                }
                
                <span class="opentime">@a.StartTime.ToShortTimeString()</span></p>
            </div>
            <p class="seconds">15</p>
            <div class="stat">
                <p class="amount">$<span>@a.LanceCost</span></p>
                <p class="latestbidder">@a.LatestBidder</p>
            </div>

            <button class="btn btn-info pujar">Pujar!</button>
        </div>
    }

</div>
