<div class="admin-navigation">
    <ul class="nav nav-list">
        <li class="nav-header">Administracion</li>
        <li><a href="#">Usuarios</a></li>
        <li><a href="#">Remates</a></li>
        <li><a href="@Url.Action("Products", "Admin")">Productos</a></li>
        <li><a href="@Url.Action("Categories", "Admin")">Categorias de Productos</a></li>
        <li><a href="@Url.Action("Brands", "Admin")">Marcas de Productos</a></li>
        <li><a href="@Url.Action("Packages", "Admin")">Paquetes de Lances</a></li>

        <li class="divider"></li>

        <li class="nav-header">Informacion</li>
        <li><a href="@Url.Action("SoldPackages", "Admin")">Paquetes Vendidos</a></li>
        <li><a href="#">Remates</a></li>
    </ul>
</div>