@{
    Bundles.Reference("~/Public/assets/stylesheets/plugins/bootstrap.css");
    Bundles.Reference("~/Public/assets/stylesheets/globals/main.less");
    Bundles.Reference("~/Public/assets/javascripts/microshopping.js");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> 
    <title>@ViewBag.Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>
    <link href='http://fonts.googleapis.com/css?family=Life+Savers' rel='stylesheet' type='text/css'>

    @Bundles.RenderStylesheets()

    @Bundles.RenderScripts()
</head>
<body>
    <div id="rainbow">
        <div class="darkgreen"></div>
        <div class="lime"></div>
        <div class="white"></div>
        <div class="blue"></div>
        <div class="torquise"></div>
        <div class="darkgreen"></div>
        <div class="lime"></div>
        <div class="white"></div>
        <div class="blue"></div>
        <div class="torquise"></div>
    </div>

    <div id="wrapper">
        <div id="header">
            <h1>
                <a href="@Url.Action("Home", "Index")">MicroShopping</a>
            </h1>

            <ul class="navigation">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Crear Cuenta</a></li>
                <li><a href="#">Remates</a></li>
                <li><a href="#">Remates Finalizados</a></li>
            </ul>
        </div>
    

        <div id="content-wrap">
            <div class="content">
                @RenderBody()
            </div>
            <div class="sidebar">
                <p>This some text.</p>
            </div>
        </div>
    </div>
        
</body>
</html>