@{
    Bundles.Reference("~/Public/assets/stylesheets/plugins/bootstrap.css");
    Bundles.Reference("~/Public/assets/stylesheets/globals/main.less");
    Bundles.Reference("~/Public/assets/javascripts/microshopping.js");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> 
    <title>@ViewBag.Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>

    @Bundles.RenderStylesheets()

    @Bundles.RenderScripts()
</head>
<body>
    <div id="header">
        <div class="logo-wrap">
            <a href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Public/assets/images/logo.png")" alt="Dotacamp" />
            </a>
        </div>

        <ul class="navigation">
            <li><a href="#">HOME</a></li>
            <li><a href="#">HEROES</a></li>
            <li><a href="#">ITEMS</a></li>
            <li><a href="#">STREAMS</a></li>
            <li><a href="#">FORUMS</a></li>
        </ul>        
    </div>
    <div class="breaker"></div>
    

    <div id="content-wrap">
        <div class="content">
            @RenderBody()
        </div>
        <div class="sidebar">
            <p>This some text.</p>
        </div>
    </div>    
</body>
</html>