@{
    Bundles.Reference("~/Public/assets/stylesheets/plugins/bootstrap.css");
    Bundles.Reference("~/Public/assets/stylesheets/globals/main.less");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> 
    <title>@ViewBag.Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css' rel='stylesheet' type='text/css'>

    <script src="@Url.Content("~/Public/assets/javascripts/microshopping.js")"></script>
    <script src="@Url.Content("~/Public/assets/javascripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Public/assets/javascripts/jquery.validate.unobtrusive.min.js")"></script>

    <link href='http://fonts.googleapis.com/css?family=Life+Savers' rel='stylesheet' type='text/css'>

    @Bundles.RenderStylesheets()
</head>
<body>
    <div id="wrapper">
        <div id="innerwrapper">
            <div id="contentwrapper">


                <div id="header">
                    <h1>
                        <a href="@Url.Action("Index", "Home")">MicroShopping</a>
                    </h1>

                    <p>Donde comprar es mas barato!</p>

                    <div id="user-widget">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="avatar" href="#">
                                <img src="http://www.placehold.it/48x48" alt="" />
                            </a>
                            <div class="info">
                                <p class="username"><a href="#">Sergiolas</a></p>
                                <p class="credit"><span>29</span> Lances <a href="#">(Comprar Mas!)</a></p>
                            </div>

                            <a class="logout" href="#">[Cerrar Sesion]</a>
                            
                        } else
                        {
                            <a href="@Url.Action("LogOn", "Account")" class="btn btn-info">Iniciar Sesion</a>
                            <a href="@Url.Action("Register", "Account")" class="btn btn-success">Registrarse!</a>
                        }
                    </div>

                    @Html.Partial("_Navigation")
                </div>

                <div id="content">
                    @RenderBody()
                </div>


            </div>
        </div>
    </div>
    <div id="footer">
        <p>Microshopping Platform &copy; 2012 Sergio Tapia Gutierrez</p>
        <p>Download the full source code and documentation at the official <a href="https://github.com/sergiotapia/MicroShopping">Github Page</a>.</p>
    </div>
</body>
</html>