<ul class="navigation">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a href="@Url.Action("Index", "Auction")">Remates</a></li>
    <li><a href="@Url.Action("Finished", "Auction")">Remates Concluidos</a></li>
    <li><a href="@Url.Action("Index", "Testimonies")">Testimonios</a></li>
    <li><a href="@Url.Action("Index", "Help")">Ayuda</a></li>
</ul>